body{
    margin:0;
    background:#f5f7fb;
    font-family:Arial,sans-serif;
}

.container{
    max-width:450px;
    margin:auto;
    padding:20px;
}

.logo{
    text-align:center;
    margin-top:20px;
}

.logo h1{
    color:#22c55e;
}

.logo p{
    color:#666;
}

.balance-card{
    background:white;
    border-radius:20px;
    padding:20px;
    text-align:center;
    margin-top:20px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.balance-card h1{
    color:#22c55e;
}

.menu{
    margin-top:20px;
}

.btn{
    width:100%;
    padding:16px;
    border:none;
    border-radius:15px;
    margin-bottom:12px;
    font-size:18px;
    background:#22c55e;
    color:white;
    cursor:pointer;
}
